

@{
    Layout = null;
}

<br />
<br />
<center>
    <div class="h3" style="background-image:url(http://www.hypnose-fougeres.fr/media/image_de_chapitre.jpg)">

        <br />
        <br />
        <br />

        <h1><strong>Confirmation</strong></h1>
        <br />
        <p>Votre réservation a été enregistrée avec succès. Merci d'avoir choisi Valais Booking !</p>

        <p>Les informations suivantes vous permettent d'annuler la réservation :</p>
        <p style="color:red">Nom : @ViewBag.nom</p>
        <p style="color:red">Prénom : @ViewBag.prenom</p>
        <p style="color:red">Code : @ViewBag.code</p>
        <br />
        <br />
        <div>
            @Html.ActionLink("Accueil", "Index", "Home")
        </div>
        <br />
        <br />
    </div>

</center>



































<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
